body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #0e0e0e;
  color: white;
}

header {
  background: linear-gradient(135deg, #5a00e0, #00c6ff);
  padding: 2em;
  text-align: center;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 1em;
  font-weight: bold;
}

main {
  padding: 2em;
}

h2 {
  border-bottom: 2px solid #5a00e0;
  padding-bottom: 0.3em;
}

ul {
  list-style-type: square;
  margin-left: 1.5em;
}

.btn {
  display: inline-block;
  background: #5a00e0;
  color: white;
  padding: 0.7em 1.5em;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 1em;
}

footer {
  background-color: #111;
  color: #aaa;
  text-align: center;
  padding: 1em;
}
